.catchall-container {
  height: 400px;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.catchall-message {
  color: #c1c1c1;
  font-size: 40px;
  font-style: italic;
}

.catchall-icon {
  color: #c1c1c1;
  font-size: 40px;
}

@media (max-width: 576px) {
  .catchall-container {
    height: 200px;
    gap: 10px;
  }

  .catchall-message {
    font-size: 30px;
  }

  .catchall-icon {
    color: #c1c1c1;
    font-size: 32px;
  }
}

@media (max-width: 400px) {
  .catchall-message {
    font-size: 26px;
  }

  .catchall-icon {
    color: #c1c1c1;
    font-size: 30px;
  }
}
