.publish-form-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.publish-form-top {
  height: 180px;
  background-color: white;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.publish-form-middle-top {
  background-color: white;
  border-radius: 3px;
}

.publish-middle-bottom {
  background-color: white;
  border-radius: 3px;
}

.publish-form-bottom {
  background-color: white;
  border-radius: 3px;
}

.picture-input-design {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #017782;
}

.picture-input-design input {
  display: none;
}

.file-label {
  width: 200px;
  height: 50px;
  border: #017782 solid 3px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 3px;
}

.file-label:hover {
  cursor: pointer;
  background-color: #017782de;
  color: white;
  border: none;
}

.title-line {
  height: 60px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: #ecedee solid 1px;
  font-family: Arial, Helvetica, sans-serif;
}

.title-line > input {
  width: 600px;
  height: 30px;
  order: none;
  border-bottom: #ecedee solid;
  outline: none;
  font-size: 16px;
}

.title-line > input::placeholder {
  color: #a7a7a7;
}

.description-line {
  height: 100px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}

.description-line > textarea {
  width: 600px;
  height: 70px;
  border: none;
  border-bottom: #ecedee solid;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.description-line > textarea::placeholder {
  color: #a7a7a7;
}

.brand-line {
  height: 60px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: #ecedee solid 1px;
  font-family: Arial, Helvetica, sans-serif;
}

.brand-line > input {
  width: 600px;
  height: 30px;
  order: none;
  border-bottom: #ecedee solid;
  outline: none;
  font-size: 16px;
}

.brand-line > input::placeholder {
  color: #a7a7a7;
}

.size-line {
  height: 60px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: #ecedee solid 1px;
  font-family: Arial, Helvetica, sans-serif;
}

.size-line > input {
  width: 600px;
  height: 30px;
  order: none;
  border-bottom: #ecedee solid;
  outline: none;
  font-size: 16px;
}

.size-line > input::placeholder {
  color: #a7a7a7;
}

.color-line {
  height: 60px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: #ecedee solid 1px;
  font-family: Arial, Helvetica, sans-serif;
}

.color-line > input {
  width: 600px;
  height: 30px;
  order: none;
  border-bottom: #ecedee solid;
  outline: none;
  font-size: 16px;
}

.color-line > input::placeholder {
  color: #a7a7a7;
}

.condition-line {
  height: 60px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: #ecedee solid 1px;
  font-family: Arial, Helvetica, sans-serif;
}

.condition-line > input {
  width: 600px;
  height: 30px;
  order: none;
  border-bottom: #ecedee solid;
  outline: none;
  font-size: 16px;
}

.condition-line > input::placeholder {
  color: #a7a7a7;
}

.city-line {
  height: 60px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}

.city-line > input {
  width: 600px;
  height: 30px;
  order: none;
  border-bottom: #ecedee solid;
  outline: none;
  font-size: 16px;
}

.city-line > input::placeholder {
  color: #a7a7a7;
}

.price-line {
  height: 60px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}

.price-line > input {
  width: 600px;
  height: 30px;
  order: none;
  border-bottom: #ecedee solid;
  outline: none;
  font-size: 16px;
}

.price-line > input::placeholder {
  color: #a7a7a7;
}

.exchange-checkbox {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 15px;
  gap: 3px;
}

.create-offer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.create-offer-button {
  width: 100px;
  height: 30px;
  background-color: #017782;
  border: white solid 1px;
  border-radius: 5px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 992px) {
  .publish-form-middle-top label {
    display: none;
  }

  .publish-form-middle-top label {
    display: none;
  }

  .publish-middle-bottom label {
    display: none;
  }

  .publish-form-bottom label {
    display: none;
  }
}

@media (max-width: 576px) {
  .exchange-checkbox {
    height: 50px;
  }

  .exchange-checkbox > span {
    font-size: 14px;
  }
}
