.payment-valid {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: rgb(20, 173, 20);
}
.payment-valid-button {
  width: 600px;
  height: 40px;
  margin-top: 20px;
  background-color: rgb(20, 173, 20);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}
.payment-valid-button:hover {
  cursor: pointer;
}
