main {
  min-height: calc(100vh - 52px);
}

.hero-container {
  max-width: 1280px;
  margin: 0 auto;
  height: 362px;
  position: relative;
  /* width: 100vw; */
}

.main-picture {
  height: 362px;
  width: 100vw;
  object-fit: cover;
  object-position: 0 35%;
  position: absolute;
}

.overlay {
  background-color: white;
  width: 384px;
  height: 260px;
  padding: 32px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  left: 1%;
  top: 12%;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: #15191a;
}

.hero-container button {
  width: 320px;
  height: 44px;
  background-color: #017782;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
  border-radius: 5px;
  border: none;
  color: white;
}

@media (max-width: 1280px) {
  .hero-container {
    max-width: 1180px;
  }

  .main-picture {
    object-position: 0 45%;
  }
}

@media (max-width: 1180px) {
  .hero-container {
    max-width: 1024px;
    height: 322px;
  }

  .main-picture {
    height: 322px;
    width: 100vw;
    object-position: 0 50%;
  }

  .overlay {
    width: 384px;
    height: 240px;
    padding: 30px;
  }
}

@media (max-width: 1024px) {
  .hero-container {
    max-width: 992px;
  }

  .main-picture {
    object-position: 0 55%;
  }
}

@media (max-width: 992px) {
  .hero-container {
    max-width: 768px;
    height: 280px;
  }

  .main-picture {
    object-position: 0 52%;
    height: 280px;
  }

  .overlay {
    width: 344px;
    height: 180px;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .hero-container {
    max-width: 576px;
    height: 280px;
  }

  .main-picture {
    object-position: 0 68%;
    height: 280px;
  }

  .overlay {
    width: 300px;
    height: 160px;
    padding: 10px 20px;
    align-items: center;
    top: 40%;
    left: 15%;
  }

  .overlay > h1 {
    font-size: 20px;
  }

  .hero-container button {
    width: 260px;
    height: 44px;
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 576px) {
  .hero-container {
    max-width: 400px;
    height: 240px;
  }

  .main-picture {
    object-position: 0 80%;
    height: 240px;
  }

  .overlay {
    width: 260px;
    height: 140px;
    top: 39%;
    left: 3%;
  }

  .hero-container button {
    width: 220px;
  }
}

@media (max-width: 400px) {
  .hero-container {
    max-width: 370px;
  }
}
