main {
  min-height: calc(100vh - 52px);
}

.hero-container {
  max-width: 1280px;
  margin: 0 auto;
  height: 362px;
  position: relative;
  /* width: 100vw; */
}

.main-picture {
  height: 362px;
  width: 100vw;
  object-fit: cover;
  object-position: 0 35%;
  position: absolute;
}

.overlay {
  background-color: white;
  width: 384px;
  height: 260px;
  padding: 32px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  left: 1%;
  top: 12%;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: #15191a;
}

.hero-container button {
  width: 320px;
  height: 44px;
  background-color: #017782;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
  border-radius: 5px;
  border: none;
  color: white;
}

@media (max-width: 1280px) {
  .hero-container {
    max-width: 1180px;
  }
}
