main {
  min-height: 100vh;
}

.hero {
  height: 362px;
  width: 100vw;
  display: flex;
  position: relative;
}

.main-picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.overlay {
  background-color: white;
  width: 384px;
  height: 260px;
  padding: 32px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  left: 200px;
  top: 47px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: #15191a;
}
.hero button {
  width: 320px;
  height: 44px;
  background-color: #2aaeb7;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
  border-radius: 5px;
  border: none;
  color: white;
}
