.main-publish {
  min-height: calc(100vh - 52px);
  background-color: #ecedee;
}

.publish-container {
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  gap: 10px;
}
