.main-publish {
  min-height: calc(100vh - 52px);
  background-color: #ecedee;
}

.publish-container {
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  gap: 10px;
}

@media (max-width: 992px) {
  .publish-container {
    max-width: 768px;
    padding: 30px 20px;
  }
}

@media (max-width: 768px) {
  .publish-container {
    max-width: 576px;
    padding: 20px 20px;
  }
}

@media (max-width: 576px) {
  .publish-container {
    max-width: 400px;
    padding: 10px 10px;
  }

  .publish-container > h1 {
    margin-left: 10px;
    font-size: 22px;
  }
}

@media (max-width: 400px) {
  .publish-container {
    max-width: 370px;
    padding: 10px 5px;
  }
}
