.main-payment {
  min-height: calc(100vh - 52px);
  background-color: #ecedee;
}

.payment-container {
  border-radius: 3px;
  max-width: 700px;
  margin: 0 auto;
  padding: 50px 0;
}

.order-resume {
  background-color: white;
  height: 230px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: #ecedee solid 2px;
}
.order-resume > p {
  font-size: 16px;
  color: rgb(166, 165, 165);
  margin-bottom: 30px;
}
.order-price {
  display: flex;
  justify-content: space-between;
}

.order-total {
  background-color: white;
  height: 230px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  font-family: Arial, Helvetica, sans-serif;
}

.total-price {
  /* margin: 30px 0; */
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.payment-last-step {
  display: flex;
  border-bottom: #ecedee solid 2px;
  padding-bottom: 25px;
  text-align: justify;
}
.payment-last-step p {
  font-size: 16px;
  line-height: 22px;
  color: rgb(166, 165, 165);
}
.payment-last-step span {
  font-weight: bold;
  font-size: 17px;
  color: #017782;
}

.order-payment-method {
  background-color: white;
  min-height: 240px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
}

@media (max-width: 768px) {
  .payment-container {
    max-width: 576px;
    padding: 40px 0;
  }

  .order-payment-method {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 576px) {
  .payment-container {
    max-width: 400px;
    padding: 20px 0;
  }

  .order-resume {
    padding: 20px 20px;
  }

  .order-total {
    padding-left: 20px;
    padding-right: 20px;
  }
}
