.container {
  width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}
header section {
  border-bottom: lightgray solid 1px;
}

.header-top {
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  width: 73px;
}
.signup-signin {
  display: flex;
  gap: 20px;
}
.signup {
  width: 115px;
  height: 30px;
  background-color: white;
  border: #05b1ba solid 1px;
  border-radius: 5px;
  color: #05b1ba;
  font-family: Arial, Helvetica, sans-serif;
}

.signin {
  width: 115px;
  height: 30px;
  background-color: white;
  border: #05b1ba solid 1px;
  border-radius: 5px;
  color: #05b1ba;
  font-family: Arial, Helvetica, sans-serif;
}
