.container {
  width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}
header section {
  border-bottom: #ecedee solid 1px;
}

.header-top {
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  width: 73px;
}
.signup-signin {
  display: flex;
  gap: 20px;
}
.signup {
  width: 115px;
  height: 30px;
  background-color: white;
  border: #05b1ba solid 1px;
  border-radius: 5px;
  color: #05b1ba;
  font-family: Arial, Helvetica, sans-serif;
}
.signup:hover {
  cursor: pointer;
}
.signin {
  width: 115px;
  height: 30px;
  background-color: white;
  border: #05b1ba solid 1px;
  border-radius: 5px;
  color: #05b1ba;
  font-family: Arial, Helvetica, sans-serif;
}
.signin:hover {
  cursor: pointer;
}
.logout-button {
  width: 115px;
  height: 30px;
  background-color: red;
  border: white solid 1px;
  border-radius: 5px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.logout-button:hover {
  cursor: pointer;
}

.search-line {
  display: flex;
  align-items: center;
  height: 36px;
  background-color: #ecedee;
  border-radius: 3px;
}
header input {
  height: 24px;
  width: 600px;
  border: none;
  font-size: 16px;
  background-color: #ecedee;
}
.search-logo {
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
}
