header section {
  border-bottom: #ecedee solid 1px;
}

.header-top-container {
  width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 73px;
}

.signup-signin {
  display: flex;
  gap: 20px;
}

.signup {
  width: 115px;
  height: 30px;
  background-color: white;
  border: #017782 solid 1px;
  border-radius: 5px;
  color: #017782;
  font-family: Arial, Helvetica, sans-serif;
}

.signup:hover {
  cursor: pointer;
}

.signin {
  width: 115px;
  height: 30px;
  background-color: white;
  border: #017782 solid 1px;
  border-radius: 5px;
  color: #017782;
  font-family: Arial, Helvetica, sans-serif;
}

.signin:hover {
  cursor: pointer;
}

.logout-button {
  width: 115px;
  height: 30px;
  background-color: red;
  border: white solid 1px;
  border-radius: 5px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.logout-button:hover {
  cursor: pointer;
}

.search-line {
  display: flex;
  align-items: center;
  height: 36px;
  background-color: #ecedee;
  border-radius: 3px;
}

header input {
  height: 36px;
  width: 600px;
  border: none;
  font-size: 16px;
  background-color: #ecedee;
  outline: none;
}

.search-logo {
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
}

.selling-button {
  width: 130px;
  height: 30px;
  background-color: #017782;
  border: white solid 1px;
  border-radius: 5px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.selling-button:hover {
  cursor: pointer;
}

.header-bottom-container {
  display: none;
}

@media (max-width: 1280px) {
  .header-top-container {
    width: 1180px;
  }

  header input {
    width: 500px;
  }
}

@media (max-width: 1180px) {
  .header-top-container {
    width: 1024px;
  }

  header input {
    width: 420px;
  }
}

@media (max-width: 1024px) {
  .header-top-container {
    width: 992px;
  }

  header input {
    width: 390px;
  }
}

@media (max-width: 992px) {
  .header-top-container {
    width: 768px;
    padding: 0 10px;
  }

  .signup-signin {
    display: flex;
    gap: 20px;
    margin-left: 400px;
  }

  .search-line {
    display: none;
  }

  .selling-button {
    display: none;
  }

  .header-bottom-container {
    width: 768px;
    margin: 0 auto;
    padding: 0 20px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: #ecedee solid 1px;
  }

  .search-line-bottom {
    display: flex;
    align-items: center;
    height: 36px;
    background-color: #ecedee;
    border-radius: 3px;
  }

  .search-line-bottom > input {
    height: 36px;
    width: 600px;
    border: none;
    font-size: 16px;
    background-color: #ecedee;
    outline: none;
  }

  .logout-button {
    margin-left: 550px;
  }
}

@media (max-width: 768px) {
  .header-top-container {
    width: 576px;
  }

  .signup-signin {
    margin-left: 220px;
  }

  .header-bottom-container {
    width: 576px;
  }

  .search-line-bottom > input {
    width: 500px;
  }

  .logout-button {
    margin-left: 360px;
  }
}

@media (max-width: 576px) {
  .header-top-container {
    max-width: 390px;
  }

  .signup-signin {
    margin-left: 90px;
  }

  .header-bottom-container {
    max-width: 390px;
  }

  .search-line-bottom > input {
    width: 340px;
  }

  .signup {
    width: 90px;
    height: 30px;
    font-size: 12px;
  }

  .signin {
    width: 90px;
    height: 30px;
    font-size: 12px;
  }

  .logout-button {
    margin-left: 180px;
  }
}

@media (max-width: 400px) {
  .header-top-container {
    max-width: 370px;
  }

  .header-bottom-container {
    max-width: 370px;
  }

  .signup-signin {
    margin-left: 78px;
  }

  .search-line-bottom > input {
    width: 300px;
  }

  .logout-button {
    margin-left: 160px;
  }
}
