.offer-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
}

.offer-presentation-title {
  display: none;
}

.product-image {
  width: 450px;
  height: 605px;
  object-fit: cover;
  margin: 50px 0;
  border-radius: 3px;
}

.product-presentation {
  width: 400px;
  height: 605px;
  background-color: white;
  padding: 40px;
  margin: 50px 0;
  border-radius: 3px;
}

.product-details {
  display: flex;
  margin: 3px 0;
}

.details-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-bottom: lightgray solid 1px;
  padding-bottom: 50px;
}

.product-price {
  font-size: 24px;
}

.detail-type {
  color: #999999;
  width: 160px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 16.5px;
  font-size: 14px;
  margin-bottom: 3px;
}

.detail-name {
  width: 160px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 16.5px;
  font-size: 14px;
  margin-bottom: 3px;
}

.details-bottom {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 50px 0;
}

.details-bottom > h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.details-bottom > p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #999999;
}
.user {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.user:hover {
  cursor: pointer;
}

.user-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.buy {
  width: 320px;
  height: 36px;
  background-color: #017782;
  border: none;
  border-radius: 5px;
  color: white;
}

.buy:hover {
  cursor: pointer;
}

@media (max-width: 1180px) {
  .offer-container {
    max-width: 1024px;
    padding: 0 50px;
  }
}

@media (max-width: 1024px) {
  .offer-container {
    max-width: 992px;
    padding: 0 40px;
  }
}

@media (max-width: 992px) {
  .offer-container {
    max-width: 768px;
    padding: 0 20px;
  }

  .product-image {
    width: 340px;
    height: 450px;
  }

  .product-presentation {
    width: 340px;
    height: 450px;
    padding: 30px 10px;
    border-radius: 3px;
  }

  .details-top {
    padding-bottom: 20px;
  }

  .details-bottom {
    padding: 30px 0;
  }
}

@media (max-width: 768px) {
  .offer-container {
    max-width: 576px;
    padding: 0 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .offer-presentation-title {
    display: block;
    margin-top: 20px;
  }

  .product-image {
    width: 500px;
    height: 600px;
    margin: 20px 0;
  }

  .product-presentation {
    width: 380px;
    height: 500px;
    padding: 30px 30px;
    border-radius: 3px;
    margin: 10px 0;
  }
}

@media (max-width: 576px) {
  .offer-container {
    max-width: 400px;
    padding: 0;
  }

  .offer-presentation-title {
    display: block;
    margin-top: 20px;
    max-width: 400px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .product-image {
    width: 400px;
    height: 500px;
  }

  .product-presentation {
    width: 370px;
    height: 500px;
    padding: 20px 25px;
  }
}

@media (max-width: 400px) {
  .offer-container {
    max-width: 370px;
    padding: 0;
  }

  .offer-presentation-title {
    display: block;
    margin-top: 20px;
  }

  .product-image {
    width: 350px;
    height: 420px;
  }

  .product-presentation {
    width: 350px;
    padding: 20px 17px;
  }
}
