.container {
  width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

.product-image {
  width: 450px;
  height: 605px;
  object-fit: cover;
  margin: 50px 0;
}

.product-presentation {
  width: 400px;
  height: 605px;
  background-color: white;
  padding: 40px;
  margin: 50px 0;
}
.product-details {
  display: flex;
  margin: 3px 0;
}
.product-details p {
  width: 160px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 16.5px;
}
.details-top {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: lightgray solid 1px;
  padding-bottom: 10px;
}
.product-price {
  font-size: 24px;
}
.details-bottom {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px 0;
  margin: 30px 0;
}
.details-bottom > h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.details-bottom > p {
  font-family: Arial, Helvetica, sans-serif;
}
.user {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}
.buy {
  width: 320px;
  height: 36px;
  background-color: #05b1ba;
  margin-top: 30px;
  border: none;
  border-radius: 5px;
  color: white;
}
