.form-container-signup {
  width: 400px;
  margin: 0 auto;
  padding: 30px 20px;
}

.form-vision-signup {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

input {
  height: 50px;
  border: none;
  border-bottom: pink solid;
  outline: none;
}

.submit-button-signup {
  height: 45px;
  background-color: #017782;
  /* margin-top: 30px; */
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 18px;
}

.submit-button-signup-disabled {
  height: 45px;
  background-color: #01778295;
  border: none;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-button-signup-disabled > p {
  font-size: 18px;
}

.form-checkbox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.line-checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 0 10px;
}

.line-checkbox span {
  font-family: Arial, Helvetica, sans-serif;
  color: #666666;
}

.checkbox {
  height: 20px;
  width: 20px;
}
/* .form-vision p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 16px;
} */

.newsletter-terms {
  padding: 0 12px;
  text-align: justify;
  color: #999999;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 16px;
}

.input-fields {
  display: flex;
  flex-direction: column;
}

.field-error-text {
  height: 16px;
  display: flex;
  align-items: center;
  margin-top: 5px;
  color: red;
}

.field-error-text > p {
  font-size: 16px;
  font-style: italic;
}

@media (max-width: 576px) {
  .form-container-signup {
    padding: 20px 20px;
  }

  .form-vision-signup {
    gap: 20px;
  }

  .field-error-text > p {
    font-size: 14px;
    font-style: italic;
  }
}

@media (max-width: 400px) {
  .form-container-signup {
    width: 370px;
    padding: 20px 20px;
  }
}
