/* main {
  min-height: calc(100vh - 52px);
  background-color: white;
} */

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.signup-container {
  width: 100%;
  margin: 30px 0;
}

.title-signup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.to-signup {
  display: flex;
  justify-content: center;
  align-items: center;
}
.no-acount {
  text-decoration: none;
  background-color: white;
  border: none;
  color: #017782;
}
.no-acount:hover {
  cursor: pointer;
}

@media (max-width: 576px) {
  .signup-container {
    margin: 20px 0;
  }

  .title-signup > h1 {
    font-size: 20px;
  }
}
