.form-container-signin {
  width: 400px;
  margin: 0 auto;
  padding: 30px 40px;
}

.form-vision-signin {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.submit-button-signin {
  height: 45px;
  background-color: #017782;
  /* margin-top: 30px; */
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 18px;
}

.submit-button-signin:hover {
  cursor: pointer;
  background-color: #017782de;
}

.submit-button-signin-disabled {
  height: 45px;
  background-color: #01778295;
  border: none;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-button-signin-disabled > p {
  font-size: 18px;
}

.form-vision-signin p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 12px;
}

.signin-error-message {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: red;
}

.signin-password-input-field {
  display: flex;
  flex-direction: column;
  position: relative;
}

.signin-password-eye {
  font-size: 21px;
  color: #666666;
  position: absolute;
  right: 2px;
  top: 14px;
}

@media (max-width: 576px) {
  .form-container-signin {
    padding: 20px 20px;
  }
}

@media (max-width: 400px) {
  .form-container-signin {
    width: 370px;
  }
}
