.form-container {
  width: 400px;
  margin: 0 auto;
  padding: 30px 40px;
}
.form-vision {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.submit-button {
  height: 45px;
  background-color: #05b1ba;
  /* margin-top: 30px; */
  border: none;
  border-radius: 5px;
  color: white;
}

.form-vision p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 12px;
}
.signin-error-message {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: red;
}
