.offers-previews-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.offer {
  flex-shrink: 0;
  margin-top: 30px;
  width: calc((1280px - 80px) / 5);
}

.username {
  width: 235px;
  height: 45px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.username > img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

/* .preview {
  width: 235px;
} */
.preview > img {
  width: 100%;
  height: 360px;
  object-fit: cover;
}

.preview-details {
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 8px;
}

.offer-price {
  color: black;
}
/* .preview-details div {
  border: black solid 1px;
} */

@media (max-width: 1280px) {
  .offers-previews-container {
    max-width: 1180px;
  }

  .offer {
    width: calc((1180px - 70px) / 4);
  }

  .preview > img {
    height: 370px;
  }
}

@media (max-width: 1180px) {
  .offers-previews-container {
    max-width: 1024px;
    padding: 0 50px;
    gap: 20px;
  }

  .offer {
    width: calc((1024px - 140px) / 3);
  }

  .preview > img {
    height: 370px;
  }
}

@media (max-width: 1024px) {
  .offers-previews-container {
    max-width: 992px;
    padding: 0 40px;
  }

  .offer {
    width: calc((992px - 120px) / 3);
  }

  .preview > img {
    height: 370px;
  }
}

@media (max-width: 992px) {
  .offers-previews-container {
    max-width: 768px;
    padding: 0 20px;
  }

  .offer {
    width: calc((768px - 80px) / 3);
  }

  .preview > img {
    height: 300px;
  }
}

@media (max-width: 768px) {
  .offers-previews-container {
    max-width: 576px;
    padding: 0 30px;
    gap: 30px;
  }

  .offer {
    width: calc((576px - 100px) / 2);
  }

  .preview > img {
    height: 320px;
  }
}

@media (max-width: 576px) {
  .offers-previews-container {
    max-width: 400px;
    padding: 0 10px;
    gap: 20px;
  }

  .offer {
    width: calc((400px - 40px) / 2);
  }

  .preview > img {
    height: 300px;
  }
}

@media (max-width: 400px) {
  .offers-previews-container {
    max-width: 370px;
    padding: 0 10px;
    gap: 10px;
  }

  .offer {
    width: calc((370px - 30px) / 2);
  }

  .preview > img {
    height: 280px;
  }
}
